.noResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  line-height: 1.5rem;
  margin: 40px 0;
  color: #6f707a;
}
