.mapProject {
    margin-top: 40px;

    &.floorPopupActive {
        position: sticky;
        z-index: -1;
    }

    &__content {
        &-title {
            font-size: 28px;
            font-weight: 500;
            line-height: 32.81px;

            margin-bottom: 16px;
        }

        &-map {
            width: 100%;
            height: 235px;
            border-radius: 8px;
        }

        &-marker {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #dba77b;
        }
    }
}
