.container {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 15px;
  border: 1px solid #f1f1f1;
  border-radius: 40px;
  width: fit-content;

  p {
    font-weight: 400;
    font-size: 14px;
    color: #6f707a;
  }

  svg {
    cursor: pointer;
  }
}
