@import "../../styles/mixins.scss";
@import "../../styles/values.scss";

.companyPage {
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  &__item {
    @include fColumn;
    justify-content: center;
    text-align: center;
    border: 1px solid #f1f1f1;
    padding: 36px 75.5px;

    height: 100%;

    transition: 0.15s;

    cursor: pointer;

    &:hover {
      background: #f9f9f9;
    }

    > img {
      margin-bottom: 12px;
      max-height: 70px;
      width: 100%;
    }

    &-title {
      font-size: 12px;
      font-weight: 400;
      line-height: 19px;

      color: #616161;
    }
  }
}
