.howItWorks {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  .content {
    
    .advantages {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 40px;

      .advantageItem {
        height: 200px;
        padding: 16px;
        border: 1px solid #d6d7e0;
        border-radius: 6px;
        background-position: bottom right;
        background-repeat: no-repeat;

        .advantageTitle {
          font-family: "Open Sans", sans-serif;
          font-size: 1rem;
          font-weight: 600;
          color: #333863;
          margin-bottom: 12px;
        }

        .advantageText {
          max-width: 192px;
          font-size: 0.75rem;
          line-height: 1rem;
          color: #6f707a;
        }

      }

      .advantageItem:nth-child(1) {
        background-image: url(../../assets/images/how-it-works/prompt.svg);
      }
      .advantageItem:nth-child(2) {
        background-image: url(../../assets/images/how-it-works/cost-transparency.svg);
      }
      .advantageItem:nth-child(3) {
        background-image: url(../../assets/images/how-it-works/time.svg);
      }
      .advantageItem:nth-child(4) {
        background-image: url(../../assets/images/how-it-works/service.svg);
      }
      .advantageItem:nth-child(5) {
        background-image: url(../../assets/images/how-it-works/consulting.svg);
      }
      .advantageItem:nth-child(6) {
        background-image: url(../../assets/images/how-it-works/support.svg);
      }
    }

    .specializations {
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 12px;
      margin-bottom: 40px;
      
      .specializationItem {
        height: 48px;
        padding: 13px 16px;
        border: 1px solid #9093ae;
        border-radius: 40px;

        .specializationText {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.375rem;
          color: #333863;
        }
      }
    }

    .getHelpText {
      font-size: 0.875rem;
      line-height: 1.125rem;
      margin-bottom: 16px;
    }
  }
}

.mainTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333863;
}

.secondTitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.125rem;
  margin-bottom: 16px;
}