.modal {

  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .modalTitle {
      font-family: "Open Sans", sans-serif;
      font-size: 1.125rem;
      line-height: 110%;
      font-weight: 600;
    }
  }

  .amenities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
  
    .amenity {
      flex-basis: 49%;
      display: flex;
      align-items: center;
      gap: 12px;
  
      .amenityText {
        line-height: 1.375rem;
      }
    }
  }
}