.button {
    height: 56px;
    border-radius: 40px;
    border: 1px solid;
    border-color: #b7b8bc;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
