$greyBorder: #e3e3e3;
$greyText: #717171;
$lightred: #ff5959;
$orangeBackgroud: #dba77b;
$blackBackgroud: #343f48;
$blackGradiend: linear-gradient(
  to right,
  rgba(51, 54, 57, 0.5),
  rgba(48, 54, 62, 0.5)
);
$blackGradiendSelect: linear-gradient(
  to right,
  rgba(51, 54, 57, 0.8),
  rgba(48, 54, 62, 0.8)
);
