.secondTitle {
  font-size: 1rem;
  margin-bottom: 16px;
}

.mainText {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #6f707a;
  margin-bottom: 16px;
}

.options {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;

  .option {
    flex-grow: 1;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 16px;
    user-select: none;
    cursor: pointer;

    .optionIcon {
      align-self: flex-end;
      opacity: 0.3;
    }

    .optionText {
      color: #333863;
    }
  }
}

.contactUsText {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 48px;
}
