.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  gap: 12px;
  margin-bottom: 20px;

  > :nth-child(n) {
    height: 154px;
  }
  > :nth-child(4n + 4) {
    grid-column: span 2;
  }
  > :nth-child(8n + 6) {
    grid-column: 1 / 2;
  }
  > :nth-child(8n + 1) {
    grid-row: span 2;
    height: 320px;
  }
  > :nth-child(8n + 7) {
    grid-row: span 2;
    height: 320px;
  }
}
