@import "../../../styles/values.scss";
@import "../../../styles/mixins.scss";

.blockContainer{
    @include fColumn;
    position: relative;
    justify-content: space-between;
    padding: 24px;
    border-radius: 24px;
    background: white;

    overflow: hidden;

    &--orange{
        background-color: $orangeBackgroud;
    }
    &--darkBlue{
        background-color:  #191c38;
    }
}