@import "../../../../styles/mixins.scss";

.infrastructure__AreaP {
  padding-top: 76px;

  &__wrapper {
    @include fSpaceB;
    gap: 130px;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 39px;

    .entertainment__AreaP__subsection {
      ul {
        padding-bottom: 15px;
      }

      p {
        padding-bottom: 7px;
      }
      &.numbers {
        ul {
          list-style-type: decimal;
        }
      }
    }

    > div {
      h1 {
        font-family: Roboto;
        font-size: 28px;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 10px;
      }

      h2 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 10px;
      }

      p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #717171;
        padding-bottom: 20px;
      }
    }
  }

  &__photo {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: right;

    width: 646px;
    height: 970px;

    img {
      height: 970px;
      width: auto;
      object-fit: cover;
      border-radius: 6px;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 646px;
      height: 100%;
      background: linear-gradient(
          27.85deg,
          rgba(0, 0, 0, 0.25) 10.89%,
          rgba(0, 0, 0, 0) 54.18%
        ),
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.15) -14.42%,
          rgba(0, 0, 0, 0) 14.42%
        );
      border-radius: 6px;
    }
  }
}
