
.retirementVisa {

  .text {
    color: #6f707a;
    font-size: 14px;
    margin-bottom: 24px;
  }

  .informationBlocks {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}