.developerMain {
  &__topProjects {
    margin-top: 76px;
    // margin-bottom: -76px;

    &-list {
      margin-bottom: 100px;

      & .projectItem {
        width: 303px;
        height: 303px;
      }
    }

    & .swiper-slide {
      width: max-content;
    }
  }
}
