.areaContainer {
  position: relative;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;

  .link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .areaInfo {
    position: absolute;
    bottom: 14px;
    left: 11px;
    z-index: 5;

    .areaTitle {
      font-size: 18px;
      font-weight: 500;
      color: white;
    }

    .areaText {
      font-size: 14px;
      font-weight: 400;
      color: #b7b8bc;
    }
  }
}
