@import "../../../../styles/mixins.scss";

.amenities {
    &__content {
        flex: 36%;
        width: 100%;
        margin-top: 40px;
        @include fColumn;
        gap: 15px;

        &-title {
            font-size: 28px;
            font-weight: 500;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 8px;
            row-gap: 5px;
        }

        &-item {
            padding: 12px 20px;
            @include itemsCenter;
            column-gap: 15px;
            border: 1px solid #f1f1f1;
            border-radius: 8px;
            justify-content: left;

            > span {
                color: #222;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}
