@import "../../styles/mixins.scss";

.blocksCompPage {
  margin-top: 64px;

  &__blocks {
    @include itemsCenter;
    gap: 16px;
    flex-wrap: wrap;

    > div {
      flex: 20%;
      height: 206px;

      &:first-child {
        padding: 15px;

        flex: 30%;
      }
    }

    &-title {
      font-size: 32px;
      font-weight: 700;
      line-height: 37.5px;

      color: white;
    }

    &-subtitle {
      font-size: 22px;
      font-weight: 500;
      line-height: 26.18px;
    }

    &-descr {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;

      color: #717171;
    }

    &-texts {
      @include fColumn;
      gap: 16px;
    }
  }
}
