.developerMain {
  &__logo {
    height: 593px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;

    padding: 77px 91px;

    > h2 {
      font-size: 48px;
      font-weight: 500;
      line-height: 67.6px;

      color: white;

      margin-bottom: 6px;
    }

    div {
      color: white;
      font-size: 16px;
      font-weight: 300;
      line-height: 18.75px;

      display: flex;
      gap: 7px;

      > span {
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
      }
    }

    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
