@import "../../../../styles/mixins.scss";

.digramsCompPage {
  padding: 64px 0;

  &__blocks {
    @include itemsCenter;
    gap: 24px;
    flex-wrap: wrap;
    align-items: stretch;

    &-block {
      flex: 45%;

      img {
        width: 100%;
      }
    }

    &-title {
      font-size: 22px;
      font-weight: 400;
      line-height: 26.4px;

      &:first-child {
        padding-bottom: 34px;
      }

      &:last-child {
        padding-bottom: 24px;
      }
    }
  }
}
